html(lang= config.language)
  | !{ partial('_partial/head', null, {cache: false}) }

  body
    .loading-wrapper(data-loading)
      .loading
        span
        span
        span

    .page(data-filter)
      .head(data-show)
        | !{ partial('_partial/header', null, {cache: false}) }
        | !{ partial('_partial/menubar', null, {cache: true}) }

      .main(data-page= current_page()) !{ body }

      | !{ partial('_partial/footer', null, {cache: true}) }
      | !{ partial('_partial/after-footer', null, {cache: true}) }

    | !{ partial('_partial/search-modal', null, {cache: true}) }
