<!DOCTYPE html>
<html lang="en">
<%- partial('_partial/head', null, {cache: false}) %>

<body>
  <div class="loading-wrapper" data-loading="true">
    <div class="loading">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="page" data-filter="true">
    <div class="head" data-show="true">
      <%- partial('_partial/header', null, {cache: false}) %>
    </div>
    <div class="main">
      <%- partial('_partial/head-bar') %>
      <%- body %>
    </div>
    <footer class="footer-nav">
      <div class="footer">
        <div class="back-top" id="back-top" title="Back to top">
          <i class="icon icon-chevron-bar-up"></i>
        </div>
        <%- partial('_partial/footer', null, {cache: false}) %>
      </div>
    </footer>
    <%- partial('_partial/after-footer') %>
  </div>
</body>
