#giscus-comments
script(src="https://giscus.app/client.js"
  data-repo=theme.comment.giscus.repo
  data-repo-id=theme.comment.giscus.repo_id
  data-category=theme.comment.giscus.category
  data-category-id=theme.comment.giscus.category_id
  data-mapping=theme.comment.giscus.mapping || "pathname"
  data-strict=theme.comment.giscus.strict || "0"
  data-reactions-enabled=theme.comment.giscus.reactions_enabled || "1"
  data-emit-metadata=theme.comment.giscus.emit_metadata || "0"
  data-input-position=theme.comment.giscus.input_position || "top"
  data-theme=theme.comment.giscus.theme || "preferred_color_scheme"
  data-lang=theme.comment.giscus.lang || "zh-CN"
  crossorigin="anonymous"
  async)
