div#gitalk-comments

link(rel='stylesheet', href='https://unpkg.com/gitalk/dist/gitalk.css')

script(src='//unpkg.com/gitalk/dist/gitalk.min.js')
script.
  window.gitalk = new Gitalk({
    clientID: '#{theme.comment.client_id}',
    clientSecret: '#{theme.comment.client_secret}',
    repo: '#{theme.comment.repo}',
    owner: '#{theme.comment.owner}',
    admin: '#{theme.comment.admin}'.split(','),
    distractionFreeMode: false  // Facebook-like distraction free mode
  });
  window.gitalk.render('gitalk-comments'); // Render Gitalk in the element with ID 'gitalk-container'
