script.
  window.config = {
    url_root: '#{config.root}',
    meta_path: '#{(config.search || {}).path || undefined}',
  };

| !{ js('js/clipboard/clipboard.min.js') }
| !{ js('js/theme.js') }
| !{ js('js/index.js') }

if theme.smooth_corner
  script.
    let ori_onload = window.onload;
    window.onload = function() {
      if (CSS && 'paintWorklet' in CSS)
        CSS.paintWorklet.addModule('/js/smooth-corners.js');
      ori_onload();
    }
