script.
  window.config = {
    url_root: '#{config.root}',
    meta_path: '#{(config.search || {}).path || undefined}',
  };

//- theme modules
| !{ js('js/theme/back-to-top') }
| !{ js('js/theme/clipboard') }
| !{ js('js/theme/loading') }
| !{ js('js/theme/navbar') }

if config.search
  | !{ js('js/theme/search') }
if theme.toc.enable
  | !{ js('js/theme/toc') }
if theme.refs_sidebar.enable
  | !{ js('js/theme/refs-sidebar') }
if theme.smooth_corner
  | !{ js('js/theme/smooth-corners') }

script.
  window.onload = function () {
    for (const moduleName in Theme) {
      const module = Theme[moduleName];
      module.register();
    }
  };
