<% if (pagination == 2){ %>
  <% page.posts.each(function(post){ %>
    <%- partial('_partial/article', {post: post, toc: false}) %>
  <% }) %>
<% } else { %>
  <% var last; %>
  <% page.posts.each(function(post){ %>
    <% var year = post.date.year(); %>
    <% if (last != year){ %>
      <% if (last != null){ %>
        </div></section>
      <% } %>
      <% last = year; %>
      <section class="archives-wrap">
        <% if (title_index) { %>
        <a href="<%- url_for(`/archives/${year}/`) %>">
          <div class="archive-year">
            <%= year %>
          </div>
        </a>
        <% } else { %>
          <div class="archive-year">
            <%= year %>
          </div>
        <% } %>
        <div class="archives-year-cont">
    <% } %>
    <%- partial('_partial/archive-post', {post: post}) %>
  <% }) %>
  <% if (page.posts.length){ %>
    </div></section>
  <% } %>
<% } %>

<div class="pagination archive-pagination">
  <%- partial('_partial/pagination', {page: page}) %>
</div>
