<% if (pagination == 2){ %>
  <% page.posts.each(function(post){ %>
    <%- partial('_partial/article', {post: post, index: true}) %>
  <% }) %>
<% } else { %>
  <% var last; %>
  <% page.posts.each(function(post, i){ %>
    <% var year = post.date.year(); %>
    <% if (last != year){ %>
      <% if (last != null){ %>
        </div></section>
      <% } %>
      <% last = year; %>
      <section class="archives-wrap">
        <div class="archive-year-wrap">
          <span class="archive-year"><%= year %></span>
        </div>
        <div class="archives-year-cont">
    <% } %>
    <%- partial('_partial/archive-post', {post: post, even: i % 2 == 0}) %>
  <% }) %>
  <% if (page.posts.length){ %>
    </div></section>
  <% } %>
<% } %>
<div class="archive-pagination">
    <% if (page.prev){ %>
    <div class="prev">
      <i class="prev-icon"></i>
      <a href="<%- config.root %><%- page.prev_link %>">
        <span>Prev</span>
      </a>
    </div>
    <% } %>
    <% if (page.next){ %>
    <div class="next">
      <a href="<%- config.root %><%- page.next_link %>">
        <span>Next</span>
      </a>
      <i class="next-icon"></i>
    </div>
    <% } %>

</div>
