<div class="archive-item">
  <span class="archive-artDate">
    <time class="post-time" title="<%- full_date(post.date) %>" datetime="<%- date_xml(post.date) %>" itemprop="datePublished">
      <%- post.date.format('MMM DD') %>
    </time>
  </span>
  <span class="archive-arttitle">
    <% if (post.link){ %>
      <a href="<%- url_for(post.link) %>" target="_blank" itemprop="url">
        <%= post.title %>
      </a>
      <% } else if (post.title){ %>
        <% if (index){ %>
          <a href="<%- url_for(post.path) %>">
            <%= post.title %>
          </a>
          <% } else { %>
            <%= post.title %>
              <% } %>
                <% } %>
  </span>
</div>