<article class="post-item <%= condense ? "condense" : "" %>">
  <header class="post-item-head">
    <h2 class="post-item-title <%= condense ? "condense" : "" %>">
      <a class="title" href="<%- url_for(post.path) %>">
        <%= post.title %>
      </a>
    </h2>
  </header>
  <div class="post-item-datetag <%= condense ? "condense" : "" %>">
    <div class="post-item-date">
      <%- partial('_partial/post/date') %>
    </div>
    <div class="post-item-tag">
      <%- partial('_partial/post/tag') %>
    </div>
  </div>

  <div class="article-entry <%= condense ? "condense" : "" %>" itemprop="articleBody">
    <% if (post.excerpt) { %>
      <%- post.excerpt %>
      <% if (theme.excerpt_link){ %>
        <p class="article-more-link">
          <a href="<%- url_for(post.path) %>">
            <%= theme.excerpt_link %></a>
        </p>
      <% } %>
    <% } %>
  </div>
</article>