<article class="post" id="post">
  <header class="post-head">
    <h1 class="post-title">
      <a class="title" href="<%- url_for(post.path) %>">
        <%= post.title %>
      </a>
    </h1>
  </header>
  <div class="post-datetag">
    <div class="post-date">
      <%- partial('_partial/post/date') %>
    </div>
    |
    <div class="post-tag">
      <%- partial('_partial/post/tag') %>
    </div>
    |
    <%- partial('_partial/visit-count/page-container') %>
  </div>

  <% if (theme.word_count && theme.word_count.enable) { %>
    <div class="post-word-count">
      <%- partial('_partial/post/word-count', {post: post}) %>
    </div>
  <% } %>

  <% if (config.post_copy) { %>
    <div class="post-cc">
      <%= __('article.copyright') %>
      <% if (config.post_copy.text && config.post_copy.text_en) { %>
        <%- config.post_copy.text %> | <a href="<%- config.post_copy.link %>"><%- config.post_copy.text_en %></a>
      <% } else { %>
        <a href="<%- config.post_copy.link %>"><%- config.post_copy.text || config.post_copy.text_en %></a>
      <% } %>
    </div>
  <% } %>

  <div class="article-entry" itemprop="articleBody">
    <%- post.content %>
  </div>
</article>
