<span class="footer-msg">
  <% if (config.beian && config.beian.enable) { %>
    <div class="icp">
      <img src="/img/icp.png" alt="<%= __('icp') %>">
      <a href="https://beian.miit.gov.cn/" class="icp-text" target="_blank">
        <%- config.beian.icp %>
      </a>
    </div>
  <% } %>

  <% if (config.footer_links) { %>
    <%- partial('_partial/footer-links') %>
  <% } %>

  <%- partial('_partial/visit-count/site-container') %>

  Copyright &copy;
  <%- config.since_year %>
  <% let current = date(Date.now(), "YYYY") %>
  <% if (current != config.since_year ) { %>
    <span class="timeDivide">-</span>
    <%- current %>
  <% } %>
  <%- config.author %>.
  Power by
  <a href="https://hexo.io/" target="_blank" rel="external nofollow">Hexo</a>
  and
  <a href="https://github.com/Cerallin/hexo-theme-yuzu"
      target="_blank" rel="external nofollow" title="<%= theme.version %>">
    Theme Yuzu</a>.
</span>
