head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(name="description" content=config.description)
  meta(name="keyword" content=config.keyword)

  title
    | !{ config.title }
    | -
    |
    | !{ config.subtitle }

  if theme.favicon
    link(rel="icon" href= theme.favicon)

  | !{ css('css/style') }

  if theme.helpers
    | !{ css('css/helpers') }

  //- javascript
  | !{ js('js/clipboard/clipboard.min.js') }
  | !{ js('js/bootstrap') }
  //- visit-count
  | !{ partial('_partial/visit-count/script') }
