<div class="barShow-head" id="barShow">
  <ul class="barShow-ul">
    <% for (let name in config.menu){ %>
      <% let item = config.menu[name] %>
      <li class="barShow-item">
          <% if (item.widget == "Archives") { %>
            <a href="<%- url_for('/' + config.archive_dir) %>">
          <% } else if (item.widget == "Tags") { %>
            <a href="<%- url_for('/' + config.tag_dir) %>">
          <% } else { %>
              <a href="<%- url_for(`/${config.category_dir}/${item.name}/`) %>">
          <% } %>
              <span><%= name %></span>
            </a>
      </li>
    <% } %>
    <%  let otherMenu2 = config.otherMenu2 || theme.otherMenu2;
        for (var item in otherMenu2){ %>
      <li class="barShow-item">
        <a href="<%- url_for(otherMenu2[item]) %>">
          <span><%= item %></span>
        </a>
      </li>
    <% } %>
  </ul>
</div>