head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  
  - const description = page.description || page.excerpt || config.description
  if description
    meta(name="description" content= description)

  title
    if is_archive()
      | !{ __('nav.archives') }
      |
      if page.year
        | -
        | !{ page.year }
        |
      | -
      |
    else if is_category()
      | !{ __('nav.category') }
      | !{ page.category }
      | -
      |
    else if is_tag()
      | !{ __('nav.tags') }
      | !{ page.tag }
      | -
      |
    else if page.title
      | !{ page.title }
      | -
      |
    | !{ config.title }
    | -
    |
    | !{ config.subtitle }

    if (page.current) && (page.current > 1)
      | p!{ page.current }

  if theme.favicon
    link(rel="icon" href= theme.favicon)

  | !{ css('css/style') }

  if theme.helpers
    | !{ css('css/helpers') }

  //- javascript
  | !{ js('js/clipboard/clipboard.min.js') }
  | !{ js('js/bootstrap') }
  //- visit-count
  | !{ partial('_partial/visit-count/script') }
