<div class="barShow-head" id="barShow">
  <ul class="barShow-ul">
    <% for (let name in config.menu){ %>
      <% let item = config.menu[name] %>
      <li class="barShow-item">
          <% if (item.widget == "Posts") { %>
            <a href="<%- url_for('/categories/' + item.name) %>">
          <% } else { // archives and tags %>
            <a href="<%- url_for(item.widget.toLowerCase()) %>">
          <% } %>
              <span><%= name %></span>
            </a>
      </li>
    <% } %>
    <%  let otherMenu2 = config.otherMenu2 || theme.otherMenu2;
        for (var item in otherMenu2){ %>
      <li class="barShow-item">
        <a href="<%- url_for(otherMenu2[item]) %>">
          <span><%= item %></span>
        </a>
      </li>
    <% } %>
  </ul>
</div>