<div class="menu-nav">
  <% for (let name in config.menu) { %>
  <% let item = config.menu[name] %>
  <div class="menu-nav-item">
    <div class="menu-nav-item-tit">
      <% if (item.widget == "Posts") { %>
        <a href="<%- url_for('/categories/' + item.name) %>">
      <% } else { // archives and tags %>
        <a href="<%- url_for(item.widget.toLowerCase()) %>">
      <% } %>
        <span>
          <%= name %></span>
      </a>
    </div>
    <div class="menu-nav-item-cont <%- item.widget.toLowerCase() %>">
      <%- partial('_widget/' + item.widget, {
        category: item.name,
        cat_link: item.link,
        showNum: item.show_num || 3
      }) %>
    </div>
  </div>
  <% } %>
</div>