<div class="tags-wrap">
  <h1 class="tag-title">
    <%= __('nav.tags') %>
  </h1>

  <div id='tag_cloud' class="tags">
    <% site.tags.map(function(tag){  %>
    <a href="#<%= tag.name %>" title="<%= tag.name %>" rel="<%= tag.length %>">
      #
      <%= tag.name %></a>
    <% }) %>
  </div>

  <!-- Tag list -->

  <% site.tags.map(function(tag){  %>
  <div class="one-tag-list">
    <p class="tag-text" id="<%= tag.name %>">
      <%= tag.name %></p>
    <% tag.posts.map(function(post){  %>
    <p class="post-preview">
      <span class="tag-item-date">
        <%= post.date.format('YYYY-MM-DD') %>
      </span>
      <span class="post-title">
        <a href="<%- url_for(post.path) %>">
          <%- post.title || "Untitled" %>
        </a>
      </span>
    </p>
    <% }) %>
  </div>
  <% }) %>
</div>